<div class="top-header clearfix">

  <!-- Logo -->
  <div class="logo {{admin.logo}}">
    <div class="logo-title"><i class="fa fa-cube ph-5"></i><strong>{{admin.name}}</strong></div>
  </div>

  <!-- needs to be put after logo to make it working-->
  <div class="menu-button" toggle-off-canvas> <a href="javascript:void(0)" alt=""> <i class="fa fa-fw fa-dedent"></i> </a> </div>

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li> <a href="javascript:void(0)" class="toggle-min" id="step3" data-toggle-nav-collapsed-min><i class="fa fa-navicon"></i></a> </li>
      
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bullhorn"></i> </a>
        <div class="dropdown-menu with-arrow panel">
          <div class="panel-heading"> You have 4 mails. </div>
          <div class="overflow" data-slim-scroll data-scroll-height="240px">
            <ul class="list-group">
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user1.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user1.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user3.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user4.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user5.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left"> <img src="/static/img/user1.png" alt="Profile Picture" class="img-circle img40_40"> </div>
                <div class="media-body">
                  <div class="text-small">Andy sent you a message</div>
                  <small class="text-small">15 minutes ago</small> </div>
                </a> </li>
            </ul>
          </div>
          <div class="panel-footer"> <a href="#/mail/inbox">Show all mails.</a> </div>
        </div>
      </li>
      <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell"></i> </a>
        <div class="dropdown-menu with-arrow panel">
          <div class="panel-heading"> Notifications </div>
          <div class="overflow" data-slim-scroll data-scroll-height="228px">
            <ul class="list-group nm">
              	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-success"> <i class="fa fa-check"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">Server #1 is Live Now.</div>
	                </div>
	                </a> 
				</li>
             
              	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-danger"> <i class="fa fa-bolt"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">CPU at 92% on server #3 </div>
	                </div>
	                </a> 
				</li>

              	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-warning"> <i class="fa fa-warning"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">Database overloaded.</div>
	                </div>
	                </a> 
				</li>
             	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-danger"> <i class="fa fa-shopping-cart"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">New Order received </div>
	                </div>
	                </a> 
				</li>

              	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-warning"> <i class="fa fa-times"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">Application Error</div>
	                </div>
	                </a> 
				</li>
              	<li class="list-group-item"> <a href="javascript:void(0)" class="media">
	                <div class="media-left label label-success"> <i class="fa fa-hdd-o"></i> </div>
	                <div class="media-body ph-10">
	                  <div class="text-small">Installation succeed</div>
	                </div>
	                </a> 
				</li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left label label-info"> <i class="fa fa-database"></i> </div>
                <div class="media-body ph-10">
                  <div class="text-small">New Update Available</div>
                </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left label label-danger"> <i class="fa fa-warning"></i> </div>
                <div class="media-body ph-10">
                  <div class="text-small"> Bandwidth Overloaded </div>
                </div>
                </a> </li>
              <li class="list-group-item"> <a href="javascript:void(0)" class="media">
                <div class="media-left label label-danger"> <i class="fa fa-warning"></i> </div>
                <div class="media-body ph-10">
                  <div class="text-small"> Installation failure </div>
                </div>
                </a> </li>
            </ul>
          </div>
          <div class="panel-footer"> <a href="javascript:void(0)">Show all mails.</a> </div>
        </div>
      </li>
			
    </ul>
    <ul class="nav-right pull-right list-unstyled">
      <li class="hidden-xs hidden-sm" data-fullscreen-Mode></li>

		
      <li class="dropdown text-normal nav-profile"> 
		<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> 
			<img ng-src="{{loginData.Admin.Photo}}" alt="" class="img-circle img40_40"> 
			<span class="hidden-xs ph-5"> 
				<span data-i18n="{{loginData.Admin.Username}}"></span> 
				<i class="fa fa-caret-down"></i>
			</span> 
		</a>

        <ul class="dropdown-menu with-arrow pull-right">
          <li ng-if ="loginData.Role!='root'"> <a ng-click="infoEdit()"> <i class="fa fa-user"></i> <span data-i18n="资料编辑"></span> </a> </li>
          <li> <a href="#/lock"> <i class="fa fa-lock"></i> <span data-i18n="屏幕锁定"></span> </a> </li>
          <li> <a ng-click="logout()"> <i class="fa fa-sign-out"></i> <span data-i18n="退出登录"></span> </a> </li>
        </ul>
      </li>
    
    </ul>
  </div>
</div>


<script type="text/ng-template" id="head_nav_list_tpl.html">


	<ul>
		<li class="dropdown-header">{{item.Name}}</li>
		<li data-ng-repeat="item in item.Childs"><a href="{{item.Url}}">{{item.Name}}</a></li>

	</ul>


</script>
