
<div class="pageheader">
    <h2><i class="fa fa-wrench"></i> 权限管理 </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li>
                <a href="#/">
                    Home
                </a>
            </li>
            <li class="active"> 权限管理 </li>
        </ol>
    </div>
</div>





<div class="page">
	<!--权限不足时显示-->
	<div ng-if="!checkPermission('role','permission')" data-ng-include=" '/static/nopermission.html' "></div>

    <div class="row" ng-if="checkPermission('role','permission')">

	 <div class="col-md-12">
		<div class="panel panel-default">
	        <header class="panel-heading">
	
				<button class="btn btn-info btn-sm" type="button" go-back><span class="fa fa-back"></span> 返回</button>
				　　<strong>{{roleData.Name}}</strong>  <span class="pull-right panel-toolbar">
				<button class="btn btn-primary btn-sm" type="button" ng-click="save()"> <span class="fa fa-save"></span> 保存</button>
				
	          	<button class="btn btn-danger btn-sm" type="button" ng-click="del(roleData.Id)"><span class="fa fa-times"></span> 删除</button>
	          </span> 
			</header>
	        <div class="panel-body" ng-if="roleData.Description"> {{roleData.Description}} </div>
	      </div>
	 </div>

		<!--单元项-->
        <div class="col-md-3"  data-ng-repeat="item in list">
	 		<div ng-class="{true:'panel panel-primary',false:'panel panel-default'}[item.Type==2]">
		        <header class="panel-heading">
					<label class="ui-checkbox" ng-if="item.Type==1">
                  		<input name="checkbox1" id="{{item.Key}}" type="checkbox" ng-click="select($event)"><span></span>
					</label>
					<strong>{{item.Name}} ({{item.Key}})</strong>
		          
		        </header>
		        <div class="panel-body" collapse="isCollapsed">
					<div class="overflow" data-slim-scroll data-scroll-height="160px">
						<table class="table">
			            	<tbody>
			              		<tr data-ng-repeat="node in item.Childs" >
					                <td width="10%">
										<label class="ui-checkbox">
					                  		<input name="checkbox1" type="checkbox" ng-model="roleData['Permission'][item.Key][node.Key]"><span></span>
										</label>
									</td>
					                <td>{{node.Name}} ({{node.Key}})</td>
									
					            </tr>
			              </tbody>
				        </table>
					</div>
				</div>
	      	</div>
		</div>
		<!--单元项结束-->

    </div>


</div>
